div{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

table, tr, td{
  /* border-style: solid; */
  /* margin: 25px 50px 25px 50px; */
    /* top, right, bottom, left */
  font-family: fantasy, papyrus;
};

table{
  border-collapse: separate;
  display: flex;
  justify-content: center
}

td{
  /* width: 25%; */
  width: 30vw;
  padding: 1rem;
  text-align: center;
}

h1{
  text-align: center;
  font-size: medium;
}

/* .blink{
  animation: blinking 1s infinite;
} */
.logo-wrapper{
  width: 100vw;
}

.logo{
  width: 100%;
  /* text-align: center; */
}
