<div>
  <h1 class="blink">***WEBSITE CURRENTLY UNDER CONSTRUCTION. YOU MUST CALL OR EMAIL TO RESERVE YOUR RENTAL PACKAGE***</h1>
</div>

<div class="logo-wrapper">
  <img src="../../assets/images/logo-pdf1024_1.jpg" class="logo">
</div>

<div>
  <table>
    <tr>
      <td class="blink"><a routerLink="/home">  Contact Us  </a></td>
      <td><a routerLink="/menu">  Ice Cream Menu  </a></td>
      <td><a routerLink="/pricing"> Package Pricing </a></td>
      <td><a routerLink="/rental_agreement">  Rental Contract </a></td>
    </tr>
  </table>
</div>


