<h1>Ice Cream Cart Co offers a wide variety of rental package options to fit your individual needs and budget.</h1>

<div>
  <p><u>Cart rental only</u></p>
  <p>This rental includes our signature ice cream cart, umbrella, and neon sign.</p>
  <p>4 hours minimum.</p>
  <p>$50/hour.</p>
</div>

<div>
  <p><u>Cart Rental + Dry Ice</u></p>
  <p>This rental includes our signature ice cream cart, umbrella, and neon sign.</p>
  <p>4 hours minimum.</p>
  <p>$75/hour.</p>
</div>

<div>
  <p><u>Let's Celebrate Package</u></p>
  <p>This package includes our signature ice cream cart, umbrella, neon sign, dry ice, napkins and 40 Classic Ice Creams</p>
  <p>2 hour rental period</p>
  <p>$300</p>
</div>

<div>
  <p><u>Let's Party Package</u></p>
  <p>This package includes our signature ice cream cart, umbrella, neon sign, dry ice, napkins + 40 Classic Ice Creams and 40 Premium Ice Creams</p>
  <p>4 hour rental period</p>
  <p>$450</p>
</div>




<!-- <div>
<table>

  <tr>
    <th>Rental Type</th>
    <th>Service Type</th>
    <th>Package Includes:</th>
    <th>Rental Length</th>
    <th>Rental Price</th>
  </tr>

  <tr>
    <th>Cart Only Rental</th>
    <td>Self-Serve</td>
    <td>cart, umbrella and neon sign</td>
    <td>4 hours minimum</td>
    <td>$50/hour</td>
  </tr>

  <tr>
    <th>Cart and Dry Ice Rental</th>
    <td>Self-Serve</td>
    <td>cart, umbrella, neon sign and dry ice</td>
    <td>4 hours minimum</td>
    <td>$75/hour</td>
  </tr>

  <tr>
    <th>Let's Celebrate Package</th>
    <td>Self-Serve</td>
    <td>cart, umbrella, neon sign, dry ice, napkins and 40 Classic Ice Creams</td>
    <td>2 hours</td>
    <td>$300</td>
  </tr>

  <tr>
    <th>Let's Party Package</th>
    <td>Self-Serve</td>
    <td>cart, umbrella, neon sign, dry ice, napkins + 40 Classic Ice Creams and 40 Premium Ice Creams</td>
    <td>4 hours</td>
    <td>$450</td>
  </tr>

  <tr>
    <th>Corporate and Wedding Package</th>
    <td>Self-Serve or catered</td>
    <td>2 carts, umbrella, neon sign, dry ice, napkins + 100 Classic Ice Creams and 100 Premium Ice Creams</td>
    <td>6 hours</td>
    <td>$1,000</td>
  </tr>
</table>

</div>

<p><b>The rate to add additional ice cream can be any each package is $3/Classic Ice Cream and $4/Premium Ice Cream</b></p>
<p><b>The rate to upgrade all Classic Ice Cream to Premium Ice Cream is $50.</b></p>
<p><b>The rate to add custom 1" white labels to your Ice Cream is $.25/label.</b></p> -->
