.cartImageContainer, .contactInfoWrapper, .emailWrapper, .phoneWrapper{
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 3vw;
}

/* .cartImageContainer{
  display: flex;
  justify-content: center;
} */

h1{
  /* display: flex;
  justify-content: center; */
  font-family: fantasy;
  font-weight: bolder;
  width: 90%;
  text-align: center;
  margin: 1rem;
}

h2{
  /* display: flex;
  justify-content: center; */
  font-family: fantasy;
  width: 70vw;
  text-align: center;
  font-size: larger;
  /* margin: 1rem 1rem 1rem 1rem; */
}

img{
  width: 70vw;
  height: auto;
}
