.cartImageContainer, .contactInfoWrapper{
  width: 100vw;
  /* display: flex; */
  /* justify-content: center; */
}

.cartImageContainer{
  display: flex;
  justify-content: center;
}

h1{
  /* display: flex;
  justify-content: center; */
  font-family: fantasy;
  font-weight: bolder;
  width: 90%;
  text-align: center;
  margin: 1rem;
}

h2{
  /* display: flex;
  justify-content: center; */
  font-family: sans-serif;
  width: 90%;
  text-align: center;
  /* margin: 1rem 1rem 1rem 1rem; */
}
/*
div{
  height: 100%;
  width: 100%;
  text-align: center;
} */

img{
  max-width:max-content;
  height: auto;
}
